@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Bebas+Neue&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(90deg, #1b2735 0%, #09090a 100%);
  color: #94e2d5;
  font-weight: 300;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
  padding: 0 20px;
}

header {
  z-index: 10;
  position: relative;
}

header .presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 135px;
  background: linear-gradient(135deg, #1f2937 0%, #111111 100%);
  box-shadow: 0 0 10px #94e2d5, 0 0 20px #94e2d5, 0 0 30px #94e2d5, 0 0 40px #94e2d5;
}

header .presentation .shop-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

header .presentation h1 {
  font-size: 24px;
  text-shadow: 0 0 10px #94e2d5;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
  box-sizing: border-box;
}

main .item {
  width: calc(33.333% - 26.666px);
  margin: 10px;
  background: linear-gradient(135deg, #1f2937 0%, #111111 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  box-sizing: border-box;
  position: relative;
}

main .item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

main .item h2, main .item p, main .item .price {
  margin: 10px 0;
}

main .item .price {
  color: #ca5252;
  font-size: 24px;
  font-weight: 500;
}

.main .item button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #ca5252;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

main .item .add-to-favorite {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #ca5252;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.3s, transform 0.3s;
}

main .item .add-to-favorite:hover {
  color: #e74c3c;
  transform: scale(1.1);
}

main .item .buy-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

main .item .buy-button:hover {
  background-color: #e74c3c;
}

.like-button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: #ca5252;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.like-button:hover {
  color: #e74c3c;
}

.like-button.liked {
  color: red;
}

footer {
  padding: 20px 0;
  background-color: #2C3E50;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  border-top: 4px solid #E74C3C;
}

footer a {
  color: #E74C3C;
  text-decoration: none;
  padding: 0 15px;
  font-size: 16px;
}

footer .footer-column h3 {
  color: #E74C3C;
  margin-bottom: 10px;
}

footer .footer-columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

footer .footer-column {
  margin: 10px;
  text-align: left;
}

footer .footer-column h3 {
  color: #E74C3C;
  margin-bottom: 10px;
}

footer .social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  transition: transform 0.3s;
}

footer .social-icons img:hover {
  transform: scale(1.2);
}

.load-more-button {
  width: auto;
  padding: 10px 20px;
  background-color: #ca5252;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto;
  display: block;
  transition: background-color 0.3s;
}

.load-more-button:hover {
  background-color: #e74c3c;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
}
